#services {
    background-color: #fff;
    overflow: hidden;

    position: relative;
}

#services img.logo {
    display: inherit;

    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    z-index: 0;

    width: 70%;
}

#services img.planta {
    display: inherit;
    position: absolute;
    left: -2rem;
    top: 20%;
    z-index: 0;

    transform: rotate(360deg);
}

#services header {
    text-align: left;

    margin-bottom: 4rem;
}

#services header > span {
    font-size: 1.4rem;
    color: var(--green);
    font-weight: 500;
}

#services header h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--green-black);
}

#services .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;

    position: relative;
    z-index: 1;
}

#services .card {
    background-color: #f7f5f5e2;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #e8e8e8;

    padding: 2rem;
    border-radius: 2rem;
    text-align: left;

    box-shadow:  17px 17px 35px #d9d9d9,
             -17px -17px 35px #ffffff;

    position: relative;
}

#services .card img {
    width: 5rem;
    margin-bottom: 1rem;
}

#services .card h3 {
    color: var(--green);
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

#services .card p {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--green-black);
}

#services .card p span {
    font-weight: 400;
}

#services a {
    text-decoration: none;
}

#services a button {
    border: none;
    background: var(--gradient);
    color: var(--color-white);
    padding: 1rem 3rem;
    border-radius: 3rem;

    display: flex;
    gap: .5rem;
    align-items: center;
    font-size: 1.6rem;

    margin-top: 2rem;

    transition: all 200ms ease-in-out;
}

#services a button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

@media (min-width: 1080px) {
    section#services img.logo {
        display: inherit;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;

        width: initial;
    }

    section#services img.planta {
        display: inherit;
        position: absolute;
        left: -2rem;
        top: 20%;
        z-index: 0;

        transform: rotate(360deg);

        width: initial;
    }

    section#services header {
        text-align: center;
        margin-bottom: 6rem;
    }

    section#services header > span {
        font-size: 1.6rem;
    }

    section#services header h2 {
        font-size: 4rem;
    }

    section#services .content .cards .row-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }

    section#services .content .cards .row-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    section#services .content .cards .card {
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: #f7f5f5e2;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);

        border: 1px solid #e8e8e8;
    }

    section#services .content .cards .card h3 {
        font-size: 2rem;
    }

    section#services .content .cards .card img {
        width: 3rem;
    }
    
}
