
#personalizacao {
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

#personalizacao .container {
    background: var(--green-white);
    border-radius: 4rem;
    overflow: hidden;
    position: relative;

    border: 2px solid var(--green);
}

#personalizacao .image {
    width: 100%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

#personalizacao .image img {
    width: 120%;
}

#personalizacao .container .text {
    padding: 4rem;
}

#personalizacao .container h2 {
    font-size: 3rem;
    color: var(--green);
    font-weight: 700;
    margin-bottom: 1rem;
}

#personalizacao .container p {
    color: var(--color-black);
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#personalizacao .container a button {
    border: none;
    padding: 1rem 2.5rem;
    color: var(--green-white);
    background: var(--gradient);
    border-radius: 3rem;
    font-size: 1.8rem;
    transition: all 200ms ease-in-out;
}

#personalizacao .container a button:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

section#personalizacao img.planta {
    display: none;
}

@media (min-width: 1080px) {
    section#personalizacao img.planta {
        display: inherit;
        position: absolute;
        left: -2rem;
        top: -10rem;
        z-index: 0;
        filter: blur(1.3);
        opacity: .3;
        transform: rotate(-120deg);

        width: 30rem;
    }

    section#personalizacao .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
    }

    section#personalizacao .image {
        width: 100%;
        height: 50rem;
        overflow: hidden;
        grid-area: b;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    section#personalizacao .image img {
        width: 100%;
    }

    section#personalizacao .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: relative;
        z-index: 2;
    }

    section#personalizacao .container h2 {
        font-size: 3.5rem;
    }
    
    section#personalizacao .container p {
        font-size: 1.8rem;
        line-height: 1.6;
    }
    
    section#personalizacao .container a button {
        font-size: 1.8rem;
    }
}