body#table {
    background: #ededed;
}

h1 {
    color: var(--green);
    font-size: 2rem;
    margin-top: 10rem;
    font-weight: 600;
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.table {
    margin-top: 9rem;
}

.table h2 {
    text-align: left;
}

.wrapper {
    padding-bottom: 6rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #22b716;
    color: white;
}
th.side-header {
    background-color: #22b716;
    color: white;
    width: 50px;
    padding: 8px;
    text-align: center;
}
td.side-header {
    background-color: #22b716;
    color: white;
    text-align: center;
}
tbody tr:nth-child(even) {
    background-color: #f6f6fb;
}
tbody tr:nth-child(odd) {
    background-color: #e3e3e3;
}

tbody tr td:nth-child(1) {
    background-color: #22b716;
    color: white;
}

/* Media query para dispositivos com largura menor que 768px */
@media (max-width: 767px) {
    table {
        overflow-x: auto; /* Força o scroll horizontal */
        -webkit-overflow-scrolling: touch; /* Suporte a scroll suave em dispositivos iOS */
        margin-top: 4rem;
    }

    th, td {
    white-space: nowrap; /* Impede que o texto quebre para baixo */

    }

    body#table h1 {
        display: inherit;
    }
}